.banner {
  .title {
    font-size: 28px;
    line-height: 44px;
    font-weight: 600;
    color: #36557F;
    margin-bottom: 24px;
  }

  .txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #36557F;
  }
}