.button {
  &--primary {
    background-color: #5393D0;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;

    &:hover {
      color: white;
      background-color: #3b6b97;
    }
  }

  &--secondary {
    background-color: transparent;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    color: #5393D0;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #5393D0;

    &:hover {
      color: white;
      background-color: #5393D0;
    }
  }

  &--white {
    background-color: transparent;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    color: #2D3F64;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #DBE2EB;

    &:hover {
      color: white;
      background-color: #364452;
    }
  }

  &--blue {
    background-color: transparent;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    color: #377FF6;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #DBE2EB;

    &:hover {
      color: white;
      background-color: #364452;
    }
  }

  &--amount {
    cursor: pointer;
    border: 1px solid #DBE2EB;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    display: flex;
    align-items: center;

    button {
      border: none;
      background: transparent;
      color: #8592AC;
    }

    span {
      min-width: 20px;
      text-align: center;
    }
  }

  &--orange {
    background-color: #E64F2D ;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;

    &:hover {
      color: white;
      background-color: #9b351e;
    }
  }
}

.btn-group {
  flex-wrap: wrap;

  &--item {
    margin-bottom: 5px;
    margin-right: 5px;
  }
}

.btn-outline-primary {
  background: #F1F4F6;
  border-radius: 32px;
  font-size: 14px;
  color: #8592AC;
  padding: 8px 10px;
  cursor: pointer;
  border: none;

  &:hover {
    color: white;
    background: #1BD5EA;
  }
}

.btn-check:active+.btn-outline-primary, 
.btn-check:checked+.btn-outline-primary, 
.btn-outline-primary.active, 
.btn-outline-primary.dropdown-toggle.show, 
.btn-outline-primary:active {
  color: white;
  background: #1BD5EA;
}

.btn-check:active+.btn-outline-primary:focus, 
.btn-check:checked+.btn-outline-primary:focus, 
.btn-outline-primary.active:focus, 
.btn-outline-primary.dropdown-toggle.show:focus, 
.btn-outline-primary:active:focus {
  box-shadow: none;
}

.btn-check:focus+.btn-outline-primary, 
.btn-outline-primary:focus {
  box-shadow: none; 
}