.header {
  border-bottom: 1px solid #DBE2EB;
  padding: 16px 0;

  ul {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        display: flex;
        align-items: center;

        p {
          display: none;
          padding-left: 7px;

          @media (min-width: 992px) {
            display: block;
          }
        }
      }

      .link-2 {
        border-left: 1px solid #DBE2EB;
        padding-left: 18px;
        margin-left: 18px;
      }
    }
  }
}