.link {
  color: #1BD5EA;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: #1393a1;
  }
}

.link-2 {
  color: #2D3F64;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: #1c283f;
  }
}