.outstanding {
  padding: 100px 0;

  &--content {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 100%;

    .small {
      min-width: 40%;
      max-width: 40%;
      position: sticky;
      top: 30%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .small-text {
      min-width: 40%;
      max-width: 40%;

      p {
        font-size: 14px;
      }
    }

    .large-text {
      width: 100%;
      position: relative;

      p {
        font-size: 14px;
      }
    }

    .large {
      width: 100%;
      position: relative;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .text {
      margin-top: 5px;

      .title {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
      }

      .bajada {
        color: #676868;
        font-size: 14px;
      }
    }
  }
}