.services {
  background: white;
  padding: 100px 0;

  .item {
    align-items: flex-start;
    display: flex;
    margin-left: -15px;
    margin-top: -10px;

    img {
      max-width: 80px;
    }

    .text {
      font-size: 14px;
      padding-left: 10px;
      padding-top: 20px;
    }
  }
}