.tab {
  border: 0;

  .nav-link {
    margin-bottom: 0;
    background: white;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 2px 4px rgb(22 45 67 / 18%);
    margin-right: 20px;
    color: #2D3F64;
    margin-bottom: 20px;

    &.active {
      color: white;
      background-color: #1BD5EA;
      border-color: transparent;
      border-radius: 4px;
    } 
  }

  &--vertical {
    display: flex;
    flex-direction: column;
    border-bottom: 0;

    .nav-link  {
      border-radius: 6px;
      border: 1px solid #DBE2EB;
      margin-bottom: 15px;
      margin-right: 0;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 16px;

      &.active {
        border: 2px solid #1BD5EA;
        border-left: 5px solid #1BD5EA;

        .info {
          .title {
            span {
              color: #1BD5EA;
            }
          }
        }
      }

      img {
        width: 40px;
      }

      .info {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        width: 100%;

        .title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 4px;

          p {
            margin: 0;
            font-size: 14px;
            line-height: 24px;
            color: #2D3F64;
            font-weight: 500;
          }

          span {
            color: #DBE2EB;
          }
        }

        .txt {
          margin: 0;
          font-size: 12px;
          color: #8592AC;
          text-align: left;
        }
      }
    }
  }
}