.title {
  &--small {
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
  }

  &--large {
    font-size: 60px;
    line-height: 69px;
    font-weight: bold;
  }

  &--border {
    -webkit-text-stroke: 2px black;
    color: transparent;
  }
}