@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../assets/fonts/icomoon.eot?3tigyk");
  src: url("../assets/fonts/icomoon.eot?3tigyk#iefix") format("embedded-opentype"), url("../assets/fonts/icomoon.ttf?3tigyk") format("truetype"), url("../assets/fonts/icomoon.woff?3tigyk") format("woff"), url("../assets/fonts/icomoon.svg?3tigyk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "";
}

.icon-circle:before {
  content: "";
}

.icon-union:before {
  content: "";
}

.icon-sms:before {
  content: "";
}

.icon-time:before {
  content: "";
}

.icon-edit:before {
  content: "";
}

.icon-fb:before {
  content: "";
}

.icon-ojo:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-wsp:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-chevron-left:before {
  content: "";
}

.icon-chevron-right:before {
  content: "";
}

.icon-filtro:before {
  content: "";
}

.icon-billetera:before {
  content: "";
}

.icon-carrito-2:before {
  content: "";
}

.icon-carrito:before {
  content: "";
}

.icon-delivery:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.icon-qr:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-belleza:before {
  content: "";
}

.icon-calendario:before {
  content: "";
}

.icon-calzado:before {
  content: "";
}

.icon-comprar:before {
  content: "";
}

.icon-licores:before {
  content: "";
}

.icon-limpieza:before {
  content: "";
}

.icon-map:before {
  content: "";
}

.icon-pasteles:before {
  content: "";
}

.icon-rapida:before {
  content: "";
}

.icon-ropa:before {
  content: "";
}

.icon-tienda:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.link {
  color: #1BD5EA;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  color: #1393a1;
}

.link-2 {
  color: #2D3F64;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.link-2:hover {
  color: #1c283f;
}

.header {
  border-bottom: 1px solid #DBE2EB;
  padding: 16px 0;
}
.header img {
  height: 32px;
}
.header ul {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header ul li a {
  display: flex;
  align-items: center;
}
.header ul li a p {
  display: none;
  padding-left: 7px;
}
@media (min-width: 992px) {
  .header ul li a p {
    display: block;
  }
}
.header ul li a span {
  font-size: 20px;
}
.header ul li .link-2 {
  border-left: 1px solid #DBE2EB;
  padding-left: 18px;
  margin-left: 18px;
}
.header ul li .link-3 {
  align-items: center;
  background: #5393D0;
  border-radius: 8px;
  color: white;
  display: flex;
  height: 40px;
  justify-content: center;
  position: relative;
  text-decoration: none;
  width: 40px;
  cursor: pointer;
}
.header ul li .link-3:hover {
  color: white;
  transition: all 0.3s ease-in-out;
  background-color: #3b6b97;
  border: 5px solid #3b6b97;
  transform: scale(1.3, 1.3);
}
.header ul li .link-3 .nro {
  align-items: center;
  background: #36557F;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  font-size: 10px;
  font-weight: 600;
  height: 21px;
  justify-content: center;
  padding-top: 2px;
  position: absolute;
  right: -6px;
  top: -6px;
  width: 21px;
}
.header--checkout {
  background: linear-gradient(0deg, #F9FAFB, #F9FAFB), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
.header--checkout .link-2 {
  border-right: 1px solid #DBE2EB;
  padding-right: 18px;
  margin-right: 18px;
  border-left: 0 !important;
}
.header--checkout .txt {
  display: none;
}
@media (min-width: 992px) {
  .header--checkout .txt {
    display: block;
    padding-left: 5px;
  }
}
.header--checkout .icon {
  font-size: 20px;
}

.banner .title {
  font-size: 28px;
  line-height: 44px;
  font-weight: 600;
  color: #36557F;
  margin-bottom: 24px;
}
.banner .txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #36557F;
}

@media (min-width: 992px) {
  .stores--filter {
    padding-left: 30px;
  }
}
.stores--filter .title {
  font-weight: 600;
  font-size: 14px;
  color: #2D3F64;
  margin-bottom: 15px;
}
.stores--filter .bb-botton {
  border-bottom: 1px solid #DBE2EB;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.stores--categories {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  overflow: auto;
  padding-bottom: 20px;
}
.stores--categories .item {
  align-items: center;
  border-radius: 12px;
  border: 1px solid #DBE2EB;
  display: flex;
  height: 56px;
  justify-content: center;
  margin-right: 15px;
  padding: 0 20px;
  cursor: pointer;
}
.stores--categories .item span {
  font-size: 32px;
  color: #8592AC;
}
.stores--categories .item p {
  color: #2D3F64;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  padding-left: 7px;
  padding-top: 2px;
  white-space: nowrap;
}
.stores--categories .item:hover {
  background-color: #1BD5EA;
  border: 1px solid #1BD5EA;
}
.stores--categories .item:hover span,
.stores--categories .item:hover p {
  color: white;
}
.stores--item {
  border: 1px solid #DBE2EB;
  border-radius: 6px;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
}
.stores--item__banner {
  width: 100%;
  height: 168px;
  object-fit: cover;
  border-radius: 6px;
}
@media (min-width: 992px) {
  .stores--item__banner {
    height: 200px;
  }
}
@media (min-width: 1800px) {
  .stores--item__banner {
    height: 240px;
  }
}
.stores--item__logo {
  border-radius: 50%;
  border: 4px solid white;
  height: 48px;
  left: 9px;
  position: absolute;
  bottom: 60px;
  width: 48px;
}
.stores--item .info {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.stores--item .info .arrow {
  color: #1BD5EA;
  align-self: flex-end;
}
.stores--item .info h3 {
  color: #2D3F64;
  font-size: 16px;
  font-weight: 24px;
  font-weight: 500;
}
.stores--item .info .detail {
  display: flex;
  align-items: center;
}
.stores--item .info .detail .open {
  display: flex;
  align-items: center;
  color: #27AE60;
}
.stores--item .info .detail .open p {
  margin: 0;
  padding-left: 5px;
  font-size: 12px;
}
.stores--item .info .detail .close {
  display: flex;
  align-items: center;
  color: #8592AC;
}
.stores--item .info .detail .close p {
  margin: 0;
  padding-left: 5px;
  font-size: 12px;
}
.stores--item .info .calendar {
  display: flex;
  align-items: center;
  color: #8592AC;
  padding-left: 20px;
}
.stores--item .info .calendar p {
  margin: 0;
  padding-left: 5px;
  font-size: 12px;
}
.stores--item-2 {
  margin-bottom: 20px;
}
.stores--item-2__img {
  align-items: center;
  background: white;
  border-radius: 4px;
  border: 1px solid #DBE2EB;
  display: flex;
  height: 200px;
  justify-content: center;
  position: relative;
}
.stores--item-2__img img {
  width: 80%;
}
.stores--item-2__txt h3 {
  font-size: 14px;
  margin-top: 12px;
  font-weight: 600;
  color: #2D3F64;
}
.stores--item-2__txt p {
  font-size: 12.5px;
  color: #2D3F64;
}
.stores--item-2__txt .price {
  color: #2D3F64;
  display: flex;
  align-items: flex-start;
}
.stores--item-2__txt .price .moneda {
  font-size: 12px;
}
.stores--item-2__txt .price .cantidad {
  font-size: 18px;
  font-weight: 600;
}
.stores--item-2 .button--amount {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.stores--item-2 .button--add {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.stores--item-2 .button--add button {
  border: none;
  background: #5393D0;
  border-radius: 4px;
  color: white;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.stores--link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stores--link .link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stores--link .link span {
  font-size: 20px;
}
.stores--link .link p {
  padding: 0 5px;
}

.app {
  padding-bottom: 100px;
}
.app--left {
  background: #36557F;
  border-radius: 6px;
  text-align: center;
  border-right: 8px solid #8592AC;
  display: flex;
}
.app--right {
  background: #DBE2EB;
  padding: 24px 40px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.app--right h4 {
  color: #2D3F64;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 12px;
}
.app--right p {
  color: #2D3F64;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.app--list {
  display: flex;
  align-items: center;
}
.app--list img {
  width: 100px;
  margin-right: 20px;
}
@media (min-width: 576px) {
  .app--list img {
    width: 148px;
  }
}

.breadcrumb {
  align-items: center;
}
.breadcrumb li a {
  color: #2D3F64;
  font-size: 12px;
  text-decoration: none;
  font-weight: 500;
}
.breadcrumb li a .ico {
  padding-right: 5px;
}
.breadcrumb li.active {
  color: #8592AC;
  font-size: 12px;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #6c757d;
  content: var(--bs-breadcrumb-divider, ">");
}

.checkout--summary {
  background: #36557F;
  border-radius: 4px;
  position: relative;
  padding: 60px 16px 16px;
  position: sticky;
  top: 15px;
}
.checkout--summary .toldo {
  position: absolute;
  right: 1px;
  left: -7px;
  top: -5px;
  width: 103%;
}
.checkout--summary__user {
  display: flex;
  align-items: center;
}
.checkout--summary__user img {
  width: 42px;
}
.checkout--summary__user p {
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
  padding-left: 10px;
}
.checkout--summary__info {
  background: white;
  padding: 16px;
  border-radius: 4px;
  margin-top: 20px;
}
.checkout--summary__info .title {
  display: flex;
  align-items: center;
  color: #2D3F64;
  margin-bottom: 15px;
}
.checkout--summary__info .title span {
  font-size: 20px;
}
.checkout--summary__info .title p {
  font-size: 14px;
  margin: 0;
  padding-left: 5px;
  font-weight: 600;
}
.checkout--summary__info .list {
  padding: 0;
  list-style: none;
  margin: 0;
}
.checkout--summary__info .list li {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  color: #2D3F64;
  margin-bottom: 10px;
}
.checkout--summary__info .list .subtotal {
  font-weight: 600;
}
.checkout--summary__info .list .total {
  border-top: 1px solid #DBE2EB;
  padding-top: 10px;
  font-weight: 600;
}
.checkout--accordion .accordion-item {
  border: none;
}
.checkout--accordion .accordion-item .accordion-header {
  display: flex;
  align-items: center;
}
.checkout--accordion .accordion-item .accordion-header .circle {
  width: 20px;
  height: 20px;
  display: flex;
  position: relative;
}
.checkout--accordion .accordion-item .accordion-header .circle img {
  width: 20px;
  height: 20px;
  vertical-align: initial;
  z-index: 3;
}
.checkout--accordion .accordion-item .accordion-header .circle::after {
  content: "";
  width: 1px;
  height: 52px;
  position: absolute;
  background: #DBE2EB;
  left: 10px;
  top: -15px;
  z-index: 1;
}
.checkout--accordion .accordion-item .accordion-header .circle-top::before {
  content: "";
  width: 1px;
  height: 30px;
  position: absolute;
  background: white;
  left: 10px;
  top: -15px;
  z-index: 3;
}
.checkout--accordion .accordion-item .accordion-button {
  color: #2D3F64;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  box-shadow: none;
  padding: 15px 15px 15px 0;
  border-bottom: 1px solid #DBE2EB;
  margin-left: 10px;
  cursor: pointer;
}
.checkout--accordion .accordion-item .accordion-button::after {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  margin-left: auto;
  content: "";
  background-repeat: no-repeat;
  background-size: 12px;
  transition: transform 0.2s ease-in-out;
  background-image: url("../assets/img/arrow-down.svg");
}
.checkout--accordion .accordion-item .accordion-body {
  border-left: 1px solid #DBE2EB;
  margin-left: 10px;
  padding-right: 0;
}
.checkout--accordion__box {
  background: #F9FAFB;
  border-radius: 4px;
  padding: 16px;
}
.checkout--accordion__box .title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #8592AC;
  margin-bottom: 15px;
}
.checkout .box-yape {
  display: flex;
}
.checkout .box-yape .qr {
  border: 4px solid #1BD5EA;
  border-radius: 4px;
  padding: 3px;
  min-height: 116px;
  min-width: 116px;
}
.checkout .box-yape .qr img {
  width: 100%;
}
.checkout .box-yape .info {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}
.checkout .box-yape .info p {
  color: #2D3F64;
}
.checkout .box-yape .info a {
  color: #4CAF50;
  text-decoration: none;
  font-weight: 600;
}

.button--primary {
  background-color: #5393D0;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.button--primary:hover {
  color: white;
  background-color: #3b6b97;
}
.button--secondary {
  background-color: transparent;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  color: #5393D0;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #5393D0;
}
.button--secondary:hover {
  color: white;
  background-color: #5393D0;
}
.button--white {
  background-color: transparent;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  color: #2D3F64;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #DBE2EB;
}
.button--white:hover {
  color: white;
  background-color: #364452;
}
.button--blue {
  background-color: transparent;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  color: #377FF6;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #DBE2EB;
}
.button--blue:hover {
  color: white;
  background-color: #364452;
}
.button--amount {
  cursor: pointer;
  border: 1px solid #DBE2EB;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white;
  display: flex;
  align-items: center;
}
.button--amount button {
  border: none;
  background: transparent;
  color: #8592AC;
}
.button--amount span {
  min-width: 20px;
  text-align: center;
}
.button--orange {
  background-color: #E64F2D;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.button--orange:hover {
  color: white;
  background-color: #9b351e;
}

.btn-group {
  flex-wrap: wrap;
}
.btn-group--item {
  margin-bottom: 5px;
  margin-right: 5px;
}

.btn-outline-primary {
  background: #F1F4F6;
  border-radius: 32px;
  font-size: 14px;
  color: #8592AC;
  padding: 8px 10px;
  cursor: pointer;
  border: none;
}
.btn-outline-primary:hover {
  color: white;
  background: #1BD5EA;
}

.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
  color: white;
  background: #1BD5EA;
}

.btn-check:active + .btn-outline-primary:focus,
.btn-check:checked + .btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus {
  box-shadow: none;
}

.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
  box-shadow: none;
}

.list-products .item {
  border-bottom: 1px solid #DBE2EB;
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.list-products .item:last-child {
  border-bottom: 0;
}
.list-products .item .img {
  min-width: 72px;
  min-height: 72px;
  border: 1px solid #DBE2EB;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}
.list-products .item .img img {
  width: 100%;
}
.list-products .item .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  padding-left: 15px;
  width: 100%;
}
.list-products .item .info p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  color: #2D3F64;
}
.list-products .item .info .detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-products .item .info .detail .price {
  color: #1BD5EA;
  display: flex;
  align-items: flex-start;
}
.list-products .item .info .detail .price .moneda {
  font-size: 12px;
}
.list-products .item .info .detail .price .cantidad {
  font-size: 18px;
  font-weight: 600;
}
.list-products .item .info .txt {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
  color: #2D3F64;
}

textarea {
  border: 1px solid #DBE2EB;
  box-sizing: border-box;
  border-radius: 2px;
  background: white;
  padding: 12px;
  font-size: 14px;
}
textarea::placeholder {
  font-size: 14px;
  color: #8592AC;
  font-weight: 300;
}
textarea:focus {
  overflow: auto;
  outline: none;
}

.input {
  display: flex;
  flex-direction: column;
  position: relative;
}
.input .label {
  color: #8592AC;
  font-size: 12px;
  margin-bottom: 2px;
}
.input.disabled input {
  background: #F1F4F6;
}
.input input {
  background: #FFFFFF;
  border: 1px solid #DBE2EB;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 10px;
  font-size: 14px;
  color: #2D3F64;
}
.input input::placeholder {
  font-size: 14px;
  color: #8592AC;
  font-weight: 300;
}
.input input:focus {
  outline: none;
}
.input .ico {
  position: absolute;
  right: 10px;
  bottom: 13px;
  cursor: pointer;
  color: #8592AC;
}

.switch {
  position: relative;
  width: 40px;
}

.switch-checkbox {
  display: none;
}

.switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 20px;
  padding: 0;
  line-height: 20px;
  border-radius: 20px;
  background-color: #bfbaba;
  transition: all 400ms;
}

.switch-label:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translate(-22px, 2px);
  border-radius: 70px;
  transition: all 400ms ease-in-out;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.switch-checkbox:checked + .switch-label {
  background-color: #1BD5EA;
}

.switch-checkbox:checked + .switch-label:before {
  background-color: white;
  transform: translate(-3px, 2px);
}

.radio {
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.radio input[type=radio] {
  position: absolute;
  visibility: hidden;
}

.radio label {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 300;
  font-size: 14px;
  padding: 7px 12px 7px 30px;
  margin-bottom: 10px;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  color: #2D3F64;
}

.radio label span {
  margin-right: 5px;
  font-size: 20px;
}

.radio .check {
  display: block;
  position: absolute;
  border: 5px solid #DBE2EB;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  top: 7px;
  left: 0;
  z-index: 5;
}

.radio:hover .check {
  border: 5px solid #1BD5EA;
}

.radio .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
  left: 5px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

.radio input[type=radio]:checked ~ .check {
  border: 5px solid #1BD5EA;
}

.tab {
  border: 0;
}
.tab .nav-link {
  margin-bottom: 0;
  background: white;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 2px 4px rgba(22, 45, 67, 0.18);
  margin-right: 20px;
  color: #2D3F64;
  margin-bottom: 20px;
}
.tab .nav-link.active {
  color: white;
  background-color: #1BD5EA;
  border-color: transparent;
  border-radius: 4px;
}
.tab--vertical {
  display: flex;
  border-bottom: 0;
  flex-direction: row;
  overflow: auto;
  flex-wrap: inherit;
}
.tab--vertical .nav-item {
  margin-right: 15px;
}
@media (min-width: 768px) {
  .tab--vertical .nav-item {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .tab--vertical {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.tab--vertical .nav-link {
  border-radius: 6px;
  border: 1px solid #DBE2EB;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 16px;
  margin-right: 0;
}
.tab--vertical .nav-link.active {
  border: 2px solid #1BD5EA;
}
@media (min-width: 768px) {
  .tab--vertical .nav-link.active {
    border-left: 5px solid #1BD5EA;
  }
}
.tab--vertical .nav-link.active .info .title span {
  color: #1BD5EA;
}
.tab--vertical .nav-link img {
  width: 40px;
}
.tab--vertical .nav-link .info {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  width: 100%;
}
.tab--vertical .nav-link .info .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;
}
.tab--vertical .nav-link .info .title p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #2D3F64;
  font-weight: 500;
  white-space: nowrap;
}
@media (min-width: 992px) {
  .tab--vertical .nav-link .info .title p {
    white-space: initial;
  }
}
.tab--vertical .nav-link .info .title span {
  color: #DBE2EB;
  display: none;
}
@media (min-width: 992px) {
  .tab--vertical .nav-link .info .title span {
    display: block;
  }
}
.tab--vertical .nav-link .info .txt {
  margin: 0;
  font-size: 12px;
  color: #8592AC;
  text-align: left;
  display: none;
}
@media (min-width: 992px) {
  .tab--vertical .nav-link .info .txt {
    display: block;
  }
}

.list-check .form-check {
  display: block;
  min-height: 48px;
  margin-bottom: 10px;
  padding-left: 0;
  border-radius: 6px;
  position: relative;
}
.list-check input.radiobutton {
  width: 100%;
  min-height: 48px;
  appearance: none;
  position: absolute;
  display: inline-block;
  border-radius: 6px;
  outline: none;
  background: white;
  border: 1px solid #DBE2EB;
}
.list-check input.radiobutton:checked {
  border: 2px solid #1BD5EA;
}
.list-check label.radiobutton-label {
  width: 100%;
  min-height: 48px;
  position: relative;
  display: flex;
  padding: 10px;
  cursor: pointer;
  align-items: center;
}
.list-check label.radiobutton-label .text {
  color: #2D3F64;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.list-check label.radiobutton-label .link {
  color: #1BD5EA;
  margin-right: 15px;
}

input.radiobutton:checked + label.radiobutton-label:after {
  content: "";
  background-image: url("../assets/img/check.svg");
  width: 20px;
  height: 20px;
  z-index: 999;
  position: absolute;
  top: 14px;
  right: 10px;
}

.profile--user {
  background: #F9FAFB;
  border-radius: 6px;
  padding: 24px;
  border-bottom: 6px solid #DBE2EB;
  display: flex;
  align-items: center;
}
.profile--user img {
  width: 48px;
  height: 48px;
}
.profile--user .info {
  padding-left: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.profile--user .info p {
  color: #2D3F64;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.profile--user .info span {
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.profile__box {
  background: #F9FAFB;
  border-radius: 4px;
  padding: 16px;
}
.profile__box--header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.profile__box--header span {
  color: #8592AC;
}
.profile__box--header .title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #2D3F64;
  margin-bottom: 0;
  padding-left: 5px;
}
.profile__box--notification {
  border-bottom: 1px solid #DBE2EB;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  justify-content: space-between;
}
.profile__box--notification p {
  font-weight: 300;
  margin: 0;
}

.not-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
  text-align: center;
}
@media (min-width: 768px) {
  .not-result {
    padding: 100px 90px;
  }
}
.not-result img {
  width: 104px;
  margin-bottom: 15px;
}
.not-result h4 {
  color: #2D3F64;
  font-weight: 500;
}
.not-result p {
  color: #8592AC;
  font-size: 14px;
}

.list-detail .item {
  background: white;
  border-radius: 6px;
  border: 1px solid #DBE2EB;
  border-left: 6px solid #8592AC;
  margin-bottom: 15px;
  padding: 12px;
}
.list-detail .item--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}
.list-detail .item--header__logo {
  display: flex;
  align-items: center;
}
.list-detail .item--header span {
  color: #1BD5EA;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding-left: 10px;
}
.list-detail .item--header a {
  font-size: 14px;
  display: flex;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
}
.list-detail .item--header a .ico {
  font-size: 12px;
}
.list-detail .item--header a span {
  color: #2D3F64;
}
.list-detail .item--body {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.list-detail .item--body span {
  font-weight: 500;
}
.list-detail .item--body .nro {
  color: #8592AC;
  padding-right: 25px;
}
.list-detail .item--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-detail .item--footer .date {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .list-detail .item--footer .date {
    flex-direction: row;
    align-items: center;
  }
}
.list-detail .item--footer .date-item {
  padding-right: 15px;
  font-size: 12px;
  color: #8592AC;
}
.list-detail .item--footer .price {
  color: #1BD5EA;
  display: flex;
  align-items: flex-start;
}
.list-detail .item--footer .price .moneda  {
  font-size: 12px;
}
.list-detail .item--footer .price .cantidad {
  font-size: 18px;
  font-weight: 600;
}
.list-detail__direction .item--header__logo span {
  font-size: 16px;
  color: #2D3F64;
  font-weight: 500;
}
.list-detail__direction .item--body {
  margin-bottom: 4px;
}
.list-detail__direction .item--footer .date-item {
  font-size: 14px;
}
.list-detail__direction .item--footer .link {
  font-size: 16px;
}
.list-detail--summary .item {
  border: 1px solid #DBE2EB;
  border-top: 6px solid #8592AC;
  border-left: 1px solid #DBE2EB;
}
.list-detail--summary .item--footer {
  border-bottom: 1px solid #DBE2EB;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.list-detail--summary .item--summary {
  border-bottom: 1px solid #DBE2EB;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.list-detail--summary .item--summary .title {
  display: flex;
  align-items: center;
  color: #2D3F64;
  margin-bottom: 15px;
}
.list-detail--summary .item--summary .title span {
  font-size: 20px;
}
.list-detail--summary .item--summary .title p {
  font-size: 14px;
  margin: 0;
  padding-left: 5px;
  font-weight: 600;
}
.list-detail--summary .item--summary .list {
  padding: 0;
  list-style: none;
  margin: 0;
}
.list-detail--summary .item--summary .list li {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  color: #2D3F64;
  margin-bottom: 10px;
}
.list-detail--summary .item--summary .list li.total {
  font-weight: 600;
}
.list-detail--summary .item--status .list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}
.list-detail--summary .item--status .list::after {
  content: "";
  background-image: url("../assets/img/line.svg");
  position: absolute;
  width: 1px;
  height: 50px;
  top: 34px;
  left: 11px;
}
.list-detail--summary .item--status .list:last-child::after {
  display: none;
}
.list-detail--summary .item--status .list .img {
  margin: 0 15px;
  width: 48px;
}
.list-detail--summary .item--status .list p {
  font-size: 14px;
  color: #2D3F64;
}
.list-detail--summary .item--status .list.disabled p {
  font-size: 14px;
  color: #8592AC;
}
.list-detail--summary .item--status .list .nro {
  position: relative;
}

.pagination {
  padding-top: 10px;
  align-items: center;
}
.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
  border: none;
  font-size: 14px;
  background-color: transparent;
  color: #2D3F64;
}
.pagination .page-link {
  margin: 0 10px;
  background: white;
  font-size: 12px;
  font-weight: 600;
  color: #8592AC;
  border: 1px solid #DBE2EB;
  border-radius: 4px;
}
.pagination .page-link:focus {
  box-shadow: none;
}
.pagination .page-link.active {
  background: #1BD5EA;
  border: 1px solid #1BD5EA;
  color: white;
}

.modal .title-modal {
  display: flex;
  align-items: center;
}
.modal .title-modal img {
  width: 36px;
  height: 36px;
}
.modal .title-modal p {
  margin: 0;
  font-weight: 600;
  color: #2D3F64;
  padding-left: 6px;
}
.modal-header {
  border: 0;
}
.modal-header .title {
  display: flex;
  align-items: center;
}
.modal-header .title h5 {
  font-size: 16px;
  color: #2D3F64;
}
.modal-header .title span {
  font-size: 20px;
  color: #8592AC;
  padding-right: 6px;
}
.modal-header .btn-close {
  color: #2D3F64;
  font-size: 12px;
  position: absolute;
  right: 24px;
  top: 24px;
}
.modal-body {
  text-align: left;
  color: #2D3F64;
}
.modal-body .time {
  font-size: 14px;
  color: #8592AC;
  display: flex;
  align-items: center;
}
.modal-body .time .ico {
  font-size: 20px;
  padding-right: 6px;
}
.modal-body .map {
  width: 100%;
}
.modal-body .map img {
  width: 100%;
  margin-bottom: 20px;
}
.modal-body .sub-title {
  font-size: 14px;
  color: #2D3F64;
  text-align: left;
}
.modal-body .list-terminos--item {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 4px;
  color: #8592AC;
}
.modal-body .list-terminos--item .ico {
  font-size: 16px;
  padding-right: 6px;
}
.modal-body .list-terminos--item.active {
  color: #2D3F64;
}
.modal-body .list-terminos--item.active .ico {
  color: #1BD5EA;
}
.modal-footer {
  border: 0;
}
.modal--login .modal-content {
  border-top: 6px solid #DBE2EB;
}
.modal--login__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  color: #2D3F64;
}
.modal--login__header img {
  width: 40px;
  margin-right: 6px;
  height: 40px;
}
.modal--login .modal-body {
  padding: 0 24px;
}
.modal--login .password {
  font-size: 14px;
}
.modal--login .password a {
  display: inline-block;
}
.modal--login button {
  justify-content: center;
}
.modal--login button .ico {
  margin-right: 5px;
}
.modal--login .redes p {
  color: #8592AC;
  font-size: 14px;
}
.modal--shopping .modal-dialog {
  height: 100vh;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
}
@media (max-width: 575px) {
  .modal--shopping .modal-dialog {
    margin-left: 0;
  }
}
.modal--shopping .modal-dialog .modal-content {
  height: 100vh;
  border-radius: 0;
  border: 0;
}
.modal--shopping .modal-header {
  align-items: flex-start;
  background: #36557F;
  border-radius: 0;
  border: 0;
  color: white;
  flex-direction: column;
  border-bottom: 6px solid #DBE2EB;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  position: relative;
}
.modal--shopping .modal-header::before {
  content: "";
  background: url("../assets/img/header-modal.png");
  width: 152px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.modal--shopping .modal-header .title-modal p {
  color: white;
}
.modal--shopping .modal-header .btn-close {
  background: url("../assets/img/close-white.svg");
  background-repeat: no-repeat;
}
.modal--shopping .modal-header .txt {
  font-size: 12px;
  margin-bottom: 0;
}
.modal--shopping .modal-footer {
  background: #36557F;
  border-radius: 4px 4px 0px 0px;
}
.modal--shopping .modal-footer .total {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  margin-bottom: 10px;
}
.modal--shopping .modal-footer .total .price {
  display: flex;
  align-items: flex-start;
}
.modal--shopping .modal-footer .total .price .moneda {
  font-size: 12px;
}
.modal--shopping .modal-footer .total .price .cantidad {
  font-size: 16px;
}
.modal--shopping .modal-body .list--order .item {
  padding: 12px 0;
  border-bottom: 1px solid #DBE2EB;
}
.modal--shopping .modal-body .list--order .item__title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}
.modal--shopping .modal-body .list--order .item__title .ico {
  color: #1BD5EA;
  margin-right: 4px;
  font-size: 8px;
}
.modal--shopping .modal-body .list--order .item__list {
  align-items: flex-start;
  color: #8592AC;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 12px;
  margin-left: 5px;
}
.modal--shopping .modal-body .list--order .item__list li {
  display: flex;
  align-items: center;
}
.modal--shopping .modal-body .list--order .item__list .ico {
  margin-right: 10px;
  font-size: 4px;
}
.modal--shopping .modal-body .list--order .item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal--shopping .modal-body .list--order .item__footer .price {
  display: flex;
  align-items: flex-start;
}
.modal--shopping .modal-body .list--order .item__footer .price .moneda {
  font-size: 12px;
}
.modal--shopping .modal-body .list--order .item__footer .price .cantidad {
  font-size: 18px;
  font-weight: 600;
}

.search {
  align-items: center;
  background: white;
  border: 1px solid #DBE2EB;
  display: flex;
  height: 44px;
  padding: 4px;
  padding-left: 12px;
}
.search input {
  border: none;
  font-size: 14px;
  height: 100%;
  width: 100%;
}
.search input:focus {
  outline: none;
}
.search input::placeholder {
  font-size: 14px;
  color: #8592AC;
  font-weight: 300;
}
.search .dis {
  align-items: center;
  border-left: 1px solid #DBE2EB;
  display: flex;
  margin-left: 10px;
  padding-left: 10px;
}
.search .dis span {
  color: #8592AC;
  font-size: 20px;
  padding-right: 5px;
}
.search .dis input {
  min-width: 150px;
}
.search button {
  align-items: center;
  background: #1BD5EA;
  border-radius: 4px;
  border: none;
  color: white;
  display: flex;
  font-size: 22px;
  justify-content: center;
  min-height: 36px;
  min-width: 36px;
}

.catalogue--banner {
  height: 240px;
  position: relative;
}
.catalogue--banner__primary {
  border-radius: 6px;
  height: 240px;
  object-fit: cover;
  width: 100%;
}
.catalogue--banner__logo {
  border-radius: 50%;
  border: 8px solid white;
  height: 100px;
  left: 9px;
  position: absolute;
  bottom: -50px;
  width: 100px;
}
.catalogue--info {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.catalogue--info h3 {
  color: #2D3F64;
  font-size: 18px;
  font-weight: 600;
}
.catalogue--info .detail {
  display: flex;
  align-items: center;
}
.catalogue--info .detail .open {
  display: flex;
  align-items: center;
  color: #27AE60;
}
.catalogue--info .detail .open p {
  margin: 0;
  padding-left: 5px;
  font-size: 12px;
}
.catalogue--info .detail .close {
  display: flex;
  align-items: center;
  color: #8592AC;
}
.catalogue--info .detail .close p {
  margin: 0;
  padding-left: 5px;
  font-size: 12px;
}
.catalogue--info .calendar {
  display: flex;
  align-items: center;
  color: #8592AC;
  padding-left: 20px;
}
.catalogue--info .calendar p {
  margin: 0;
  padding-left: 5px;
  font-size: 12px;
}
.catalogue--info .options {
  display: flex;
  align-items: center;
}
.catalogue--info .options .item {
  border: 1px solid #DBE2EB;
  padding: 8px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8592AC;
  font-size: 14px;
  margin-right: 15px;
}
.catalogue--info .options .item p {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
}
.catalogue--info .options .item .ico {
  font-size: 20px;
}
.catalogue--info .options .item .ico-2 {
  font-size: 10px;
}
.catalogue .btn-group {
  overflow: scroll;
  padding-bottom: 20px;
  width: 100%;
  flex-wrap: initial;
}
.catalogue .btn-group .btn-outline-primary {
  white-space: nowrap;
  border-radius: 32px;
  font-size: 14px;
  color: #8592AC;
  padding: 8px 10px;
  cursor: pointer;
  border: 1px solid #1BD5EA;
  background: transparent;
}
.catalogue .btn-group .btn-check:active + .btn-outline-primary,
.catalogue .btn-group .btn-check:checked + .btn-outline-primary,
.catalogue .btn-group .btn-outline-primary.active,
.catalogue .btn-group .btn-outline-primary.dropdown-toggle.show,
.catalogue .btn-group .btn-outline-primary:active {
  color: white;
  background: #1BD5EA;
  border: 1px solid #1BD5EA;
}

html {
  height: 100%;
  overflow: visible;
  width: 100%;
}

body {
  color: #111111;
  font-family: "Poppins", sans-serif;
  height: 100%;
  overflow: visible;
  width: 100%;
}

.circle-scroll {
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
  bottom: 15%;
  color: white;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  height: 65px;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 65px;
}

.bg--gray {
  background: #F9F9F9;
}

.text-right {
  text-align: right;
}

.stores--item__banner_slide {
  height: 200px;
  width: 100%;
  position: relative;
}

.stores--item__banner_img {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

@media (min-width: 1420px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1420px;
  }
}

/*# sourceMappingURL=styles.css.map */
